<div class="container-votes">
    <div class="card card-body ">
        <div class="text-center">
            <h2>Vota por nuestro servidor y consigue puntos de canje</h2>
        </div>
       <div class="row mt-5">
        <div class="col-md-4 text-center">
            <a class="link-ranking pointer" href="">
                <img src="https://ragnatop.org/button.php?u=schavez-dev&buttontype=static" alt="">
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a class="link-ranking pointer" href="">
                <img src="http://www.toprohispano.com/images/boton4.png" alt="">
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a class="link-ranking pointer" href="">
                <img src="https://www.top100arena.com/hit/99473/small" alt="">
            </a>
        </div>
       </div>
    </div>
</div>