<app-header></app-header>
<div class="container pt-5 pb-5">
    <div class="text-center">
        <h1>Descargas</h1>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <button class="btn-download mx-auto" (click)="goToDownload()">
                SexyRo (100mb)
                <img src="assets/icons/download-outline.svg" alt="">
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn-download mx-auto">
                Ro + SexyRo (4gb)
                <img src="assets/icons/drive.png" alt="">
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn-download mx-auto">
                Ro + SexyRo (4gb)
                <img src="assets/icons/mega.png" alt="">
            </button>
        </div>
    </div>
</div>