<div class="container pt-5">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-success-custom" (click)="openModal(modalAccount)">Registrar</button>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="text-center">
                        <th>Cuenta</th>
                        <th>Género</th>
                        <th>Personajes</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let a of accounts">
                            <td>{{a.userid}}</td>
                            <td>{{a.sex}}</td>
                            <td>{{a.char.length}}</td>
                            <td>{{a.state}}</td>
                            <td>
                                <button class="btn-dark-outline-custom m-1" (click)="openModalDetail(modalDetail, a)">
                                    Ver
                                </button>
                                <button class="btn-dark-outline-custom m-1" (click)="openModal(modalAccount, a)">
                                    Editar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination [totalItems]="totalAccounts" [(ngModel)]="page" [maxSize]="limit" (pageChanged)="changePage($event)"></pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #modalAccount>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{isNew ? 'Registrar' : 'Actualizar'}} cuenta</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="accountForm" (ngSubmit)="register(accountForm.value)">
            <div class="form-group mt-2">
                <label for="">Usuario</label>
                <input type="text" class="form-control" formControlName="user" [ngClass]="{'is-invalid': submitted && f['user'].errors}">
                <div *ngIf="submitted && f['user'].errors" class="invalid-feedback">
                    <div *ngIf="f['user'].errors && f['user'].errors['required']">Usuario es requerido</div>
                    <div *ngIf="f['user'].errors && f['user'].errors['minlength']">Usuario debe tener mínimo 6 caracteres</div>
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email" [disabled]="true">
            </div>
            <div class="form-group mt-2">
                <label for="">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': submitted && f['password'].errors}">
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">Contraseña es requerida</div>
                    <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Contraseña debe tener mínimo 8 caracteres</div>
                    <div *ngIf="f['password'].errors && f['password'].errors['mustMatch']">Contraseña y confirmar contraseña deben coincidir</div>
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="">Repetir Contraseña</label>
                <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}">
                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirmar contraseña es requerida</div>
                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">Confirmar contraseña debe tener mínimo 8 caracteres</div>
                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['mustMatch']">Contraseña y confirmar contraseña deben coincidir</div>
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="">Sexo</label>
                <select class="form-control" formControlName="genre" [ngClass]="{'is-invalid': submitted && f['genre'].errors}">
                    <option *ngFor="let g of genres" [value]="g.value">{{g.text}}</option>
                </select>
                <div *ngIf="submitted && f['genre'].errors" class="invalid-feedback">
                    <div *ngIf="f['genre'].errors && f['genre'].errors['required']">Sexo es requerido</div>
                </div>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-success-custom" [disabled]="btnLoad">
                    Registrar
                </button>
            </div>
        </form>
    </div>
  </ng-template>


  <ng-template #modalDetail>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Detalle de cuenta</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        {{detailAccount | json}}
    </div>
</ng-template>