<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h1>Vota por el servidor</h1>
                <div class="list">
                    <label>Ragnatop</label>
                    <label>toptohispano</label>
                    <label>Top100arena</label>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Instancias</h1>
                <div class="list">
                    <label>Endless Tower</label>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Links</h1>
                <div class="list">
                    <label>Inicio</label>
                    <label>Información</label>
                </div>
            </div>
            <div class="col-md-3 pe-5">
                <h1>Redes sociales</h1>
                <div class="list">
                    <label>Facebook</label>
                    <label>Instagram</label>
                    <label>Discord</label>
                </div>
            </div>
        </div>
    </div>
</footer>